body {background: linear-gradient(to right bottom, #0355C2, #BE3571); font-family:"times new roman"; color:#B8BDD8;

}

ul{list-style-type:none; margin:0; padding:0;
	
}
li{float:left; margin:1px; border:1px solid #B8BDD8; font-size:14px; margin:2px; border-radius:5px;
	
}
a{text-decoration:none; display:block; padding:6px; color:#B8BDD8;
	
}
li a:hover{background-color:551A8B; border:0; border-radius:5px;
	
}
.active{background-color:#7159A3; border:0; border-radius:5px;
	
}
h1{
	text-align: center;
}
.image{text-align:center;

}
img{
	width:80%; height:auto ;
}